@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

body {
    width: 100vw;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4C4C4;
}

.menu {
    display: flex;
    gap: 50px;
    padding: 33px;
    font-size: 32px
}

.perfil {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 100px 0 0 0;
    gap: 300px
}

.dados h1 {
    font-weight: 400;
    font-size: 60px;
}

.dados p {
    font-weight: 400;
    font-size: 32px;
}

.links__foto {
    display: flex;
    flex-direction: column;
}

.links__foto img {
    border-radius: 50%;
    border: 10px solid rgb(134, 134, 134);
}

