@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    /* width: 100vw; */
}

.cabecalho {
    height: 920px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4C4C4;
    
}

.menu {
    display: flex;
    gap: 50px;
    padding: 33px 0 149px 0;
    
}

.menu a {
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
}

.perfil {
    display: flex;
    justify-content: space-around;
    gap: 120px;
}

.perfil__dados {
    height: 416px;
}

.perfil__dados p {
    font-size: 2rem;
    font-style: normal;
    line-height: 39px;
}

.dados__nome {
    font-size: 6rem;
}

.links__foto {
    display: flex;
    flex-direction: column;
}

.foto {
   border-radius: 50%;
    width: 426px;
    height: 426px;
    border: 12px solid #6B6B6B;
}

.redes-sociais {
    display: flex;
    justify-content:center;
    gap: 27px;
    padding-top: 100px;
}

.corpo {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    margin: 0 200px 85px 200px;
}

.sobre-mim {
    display:flex;
    align-items: center;
    gap: 55px;
    margin: 128px 0 0 0;
}

.sobre-mim p {
    font-size: 1.8rem;
    width: 557px;
}   


.titulo {
    font-size: 1.8rem;
    padding: 157px 0 56px 0;
}

.descricao {
    display: flex;
    gap: 120px;
}

.descricao  p {
    font-size: 1.8rem;
    padding: 24px;
    background-color: #C4C4C4;
    border-radius: 24px;
}

.icones {
    display: flex;
    gap: 32px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C4C4C4;
    gap: 130px;
    height: 397px;
}

.rodape p {
    font-size: 2.5rem;
}

.contato {
    display: flex;
    align-items: center;
    padding-top: 107px;
    gap: 28px;
}


.criacao p {
    font-size: 1.5rem;
    text-align: center;
}
